################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/ase25neu/FileContentIndex
/.vs/ase5/FileContentIndex
